
<h1>List Article</h1>
<%= link_to "Add Article",new_article_path %>
<table>
<tr>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th>Comment</th>
      <th>Manage</th>
    </tr>
     <hr>
<% @articles_paging.each do |article| %>
  
  <tr>
        <td><%= article.title %></td>
        <td><%= raw (article.body) %></td>
        <td><%= article.user.name %></td>
        <td><%= article.comments.count(article.id) %></td>
		<td><%= link_to "Show",article_path(article.id) %> | <%= link_to "Edit",edit_article_path(article.id) %> | <%= link_to "delete", article_path(article.id), confirm:'yakin Hapus ?',method: :delete  %> </td>
   </tr>

<% end %>

 </table>
<%= will_paginate @articles_paging %>



<%= form_tag :action=>"destroy_multy", :controller=>"articles" do %>
<table>
<tr>
	  <td>Publish</td>
	  <td>Chek</td>
      <th>Title</th>
      <th>Body</th>
      <th>User</th>
      <th>Comment</th>
      <th>Manage</th>
    </tr>
     <hr>
<% @articles.each do |article| %>
  
  <tr>
  	    <td>
  	    	<%= check_box_tag "publish_ids[]", article.id%>
  	    	<%= hidden_field :publish, :value => '1' %>

     	</td>
  		<td><%= check_box_tag "article_ids[]", article.id%></td>
        <td><%= article.title %></td>
        <td><%= raw (article.body) %></td>
        <td><%= article.user.name %></td>
        <td><%= article.comments.count(article.id) %></td>
		<td><%= link_to "Show",article_path(article.id) %> | <%= link_to "Edit",edit_article_path(article.id) %> | <%= link_to "delete", article_path(article.id), confirm:'yakin Hapus ?',method: :delete  %> </td>
   </tr>

<% end %>

 </table>
 <%= submit_tag "delete Checked"%>
 <% end%>
