<%= @article.id %></br>
Body :<br/><%= raw @article.body %></br>
Created by : <%= @article.user_id %>
<br/>
<%= link_to "Back", articles_path %>
<br></br>
total comment :<%= @article.comments.count(@article.id) %>
<!--bagian ini untuk menampilkan comment yang dimiliki oleh article tersebut -->
<div id="comments">
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div><br /><br />

<% unless(current_user.nil?)%>
   <%= form_for @comment, :url => comments_path, :remote => true do |f| %>
      <%= f.text_area :comment %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      
      <%= submit_tag "comment" %>
  <% end %>
<% end %>
