<html>
<head>
  <title>Ruby On Rails</title>
</head>

<body>
	<h3><%= flash[:notice]%></h3>
<%= link_to "Add Article",new_admin_article_path %>
  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Rating</th>
      <th>Manage</th>
    </tr>
  
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.body %></td>
        <td><%= article.rating %></td>
        <td><%= link_to "show", admin_article_path(article.id) %> | <%= link_to "edit", edit_admin_article_path(article.id) %>| <%= link_to "delete", admin_article_path(article.id), confirm:'yakin Hapus ?',method: :delete  %></td>
      </tr>
    <% end %>
  
  </table>
</body>

</html>
