<h1>List Products</h1>
<hr>
<%= link_to "Add Product", new_product_path %>
 <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Weight</th>
      <th>User Id</th>
      <th>Category</th>
      <th>Manage</th>
    </tr>
  
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= product.weight %></td>
        <td><%= product.user_id %></td>
        <td>
        <% unless (product.category.nil?)%>
          <%= product.category.name %></td>
        <% else %>
          -
        <% end %>
        <td><%= link_to "Show" ,product_path(product.id) %> |<%= link_to "Edit", edit_product_path(product.id) %> | <%= link_to "Delete", product_path(product.id), confirm:'Delete This Product ?',method: :delete %> </td>
        </tr>
    <% end %>
  
  </table>
