<p><%= link_to "Printable Invoice (PDF)", product_path(@product, :format => 'pdf') %></p>
<%= image_tag @product.photo.url %><br/>

Id : <%= @product.id %><br/>
Name : <%= @product.name %><br/>
Description : <%= @product.description %><br/>
Price : <%= @product.price %><br/>
Weight : <%= @product.weight %><br/>
user id : <%= @product.user_id %><br/>
Category : <%= @product.category.name %><br/>
<%= link_to "Back", products_path%><br/>


